:root {
    --primaryColor: #1632ce;
    --secondaryColor: #80eefa;
    --tertiaryColor: #ff9f1c;
    --transparentBg: rgba(22, 50, 206, 0.18);
    --mainWhite: #fff;
    --offWhite: #f7f7f7;
    --mainBlack: #222;
    --mainGrey: #ececec;
    --darkGrey: #bdbdbd;
    --mainTransition: all 0.3s linear;
    --mainSpacing: 3px;
    --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
    --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
  }
html {
    font-size: 62.5%;
    box-sizing: border-box;
    margin: 0;
}
body{
    font-size: 1.6rem;
    height: 100vh;
    margin: 0;
    color: var(--mainBlack);
}
#root{
    height: 100%;
}
.grid-container{
    display: grid;
    grid-template-areas:  "header" "main" "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 5rem 1fr 5rem;
height: 100%;
}

.header{
    grid-area: header;
}
.main{
    grid-area: main;
}
.footer{
    grid-area: footer;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
li{
    margin: 0;
    padding: 0;
    color: var(--mainBlack);
}
a, a:hover {
    text-decoration: none;
}
h1 {
    font-size: 3em;
    line-height: 1;
    margin-bottom: 0.5em;
  }
  h2 {
    font-size: 2em;
    margin-bottom: 0.75em;
  }
  h3 {
    font-size: 1.5em;
    line-height: 1;
    margin-bottom: 1em;
  }
  h4 {
    font-size: 1.2em;
    line-height: 1.25;
    margin-bottom: 1.25em;
  }
  h5 {
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 1.5em;
  }
  h6 {
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 1.5em;
  }
  /* ***************************************END Globals */

/*********************************************Navigation */
.header{
    height: 10rem;
    border-bottom: solid 3px var(--secondaryColor) ;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--offWhite);
    z-index: 2;
}
.nav-img{
    width: 150px;
}
.nav-top{
    display: flex;
    justify-content: space-between;
}
.nav-top > a:last-child{
    color: var(--tertiaryColor);
    padding: 0.5rem;
    margin: 0.5rem;
    text-align: center;
    font-weight: 400;
    letter-spacing: var(--mainSpacing);
    font-size: 1.2rem;
}
.nav-top > a:last-child:hover{
    color: var(--primaryColor);
}
.nav-mobile{
    text-align-last: left;
    padding: 0.5rem;
    width: 80%;
    z-index: 10;
    margin-top: 1rem;
    left: 0;
    bottom: 0;
    height: 100vh;
    background: var(--mainWhite);
    transition: all 0.6s linear;
}
.nav-mobile li{
    margin-left: 1.5rem;
}
.nav-links{
    display: none;
}
.header ul a{
    margin: 0.3rem;
    padding: 0.5rem;
    transition: var(--mainTransition);
    text-align: center;
    font-weight: 600;
    letter-spacing: var(--mainSpacing);
}

  .header ul a:hover {
    color: var(--primaryColor);
    background: var(--secondaryColor);
    border: solid 1px var(--secondaryColor);
  }
  .header ul .active {
    color: var(--primaryColor);
    background: var(--secondaryColor);
    border: solid 1px var(--secondaryColor);
  }
  .toggle-button{
      font-size: 3rem;
      color: var(--mainBlack);
      padding: 0.1rem;
      background: none;
      border: 1px solid var(--transparentBg);
      line-height: 3rem;
      cursor: pointer;
  }
  .overlay{
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0,0,0,0.7);
      z-index: 1;
      transition: all 0.6s linear;
  }


  @media only screen and (min-width: 768px) {
      .toggle-button{
          display: none;
      }
      .nav-links{
        display: flex;
        justify-content: flex-end;
    }
    .nav-top > a:last-child{
       font-size: 2rem;
    }
  }
  /*******************************************END Navigation*/


  /********************************************Forms */
  select, input{
      width: 20%;
      height: 3rem;
      border: 1px solid var(--tertiaryColor);
      font-size: 1.5rem;
      color: var(--mainBlack);
      background-color: var(--mainWhite);
      border-radius: 5px;
      box-shadow: 2px 2px rgba(0, 0, 0, 0.5);
  }