:root {
  --primaryColor: #1632ce;
  --secondaryColor: #17a2b8;
  --tertiaryColor: #ff9d5f;
  --transparentBg: rgba(22, 50, 206, 0.18);
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --darkGrey: #bdbdbd;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 2px;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}
:focus {
  outline: none !important;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
  margin: 0;
}
body {
  font-size: 1.6rem;
  height: 100vh;
  margin: 0;
  color: var(--mainBlack);
}
#root {
  height: 100%;
}
.grid-container {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}

.header {
  grid-area: header;
}
.main {
  grid-area: main;
  margin-top: 5rem;
}
.footer {
  grid-area: footer;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
li {
  margin: 0;
  padding: 0;
  color: var(--mainBlack);
}
a,
a:hover {
  text-decoration: none;
}
.hidden {
  display: none;
}
h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.5em;
}
h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}
h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1em;
}
h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}
h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}
h6 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}
/* ***************************************END Globals *
*
*
*
/*********************************************Navigation */
.header {
  height: 10rem;
  border-bottom: solid 3px var(--secondaryColor);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--offWhite);
  z-index: 2;
  padding: 0 2rem;
}
.nav-img {
  width: 150px;
}
.nav-top {
  display: flex;
  justify-content: space-between;
}
.nav-top > a:last-child {
  color: var(--tertiaryColor);
  padding: 0.5rem;
  margin: 0.5rem;
  text-align: center;
  font-weight: 400;
  letter-spacing: var(--mainSpacing);
  font-size: 1.2rem;
  font-weight: 700;
}
.nav-top > a:last-child:hover {
  color: var(--primaryColor);
}
.nav-mobile {
  text-align-last: left;
  padding: 0.5rem;
  width: 80%;
  z-index: 10;
  margin-top: 1rem;
  left: 0;
  bottom: 0;
  height: 100vh;
  background: var(--mainWhite);
  transition: all 0.6s linear;
}
.nav-mobile li {
  margin-left: 1.5rem;
}
.nav-links {
  display: none;
}
.header ul a {
  margin: 0.3rem;
  padding: 0.5rem;
  transition: var(--mainTransition);
  text-align: center;
  font-weight: 600;
  letter-spacing: var(--mainSpacing);
}

.header ul a:hover {
  color: var(--primaryColor);
  background: var(--secondaryColor);
  border: solid 1px var(--secondaryColor);
}
.header ul .active {
  color: var(--primaryColor);
  background: var(--secondaryColor);
  border: solid 1px var(--secondaryColor);
}
.toggle-button {
  font-size: 3rem;
  color: var(--mainBlack);
  padding: 0.1rem;
  background: none;
  border: 1px solid var(--transparentBg);
  line-height: 3rem;
  cursor: pointer;
}
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
  transition: all 0.6s linear;
}

@media only screen and (min-width: 768px) {
  .toggle-button {
    display: none;
  }
  .nav-links {
    display: flex;
    justify-content: flex-end;
  }
  .nav-top > a:last-child {
    font-size: 1.5rem;
  }
}
/*******************************************END Navigation*
*
*
*
/******************************************************Forms */
.form {
  padding: 3rem 0;
  margin: 0 8.5%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  border-top: solid var(--mainGrey);
  min-height: 20rem;
  position: absolute;
  width: 85%;
  bottom: 0.5rem;
  left: 0;
}
.form-container {
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: column;
}
.form-list {
  display: flex;
  margin: 0.5rem;
  flex-direction: column;
}
.form-list > div {
  margin: 0.5rem;
}
.form-container > li > div > input {
  width: 100%;
  padding: 0;
  text-align: center;
}
.form-container > li > div > select {
  width: 50%;
}
.form-container li div .no-outline {
  border: none !important;
  color: var(--primaryColor);
  background-color: var(--offWhite);
}

.form-container .select-list,
.form-container > li > div > input,
.react-datepicker-wrapper {
  height: 5rem;
  border: 1px solid var(--tertiaryColor);
  font-size: 1.5rem;
  color: var(--mainBlack);
  background-color: var(--mainWhite);
  border-radius: 5px;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.5);
}

ul > li > div > svg {
}
.passengers {
  height: 5rem;
  line-height: 5rem;
  margin: 0 0.5rem;
  padding: 0 0.3rem;
}
.form-list > div,
.select-list {
  padding: 0;
  position: relative;
}
.select-list > div > label {
  line-height: 5rem;
  margin-right: 1rem;
  padding: 0.2rem;
}

.input-icons {
  position: absolute;
  padding: 0.5rem;
  font-size: 3rem;
  height: 5rem;
  position: absolute;
  left: 0;
}

.travel-class {
  position: absolute;
  z-index: 8;
  width: fit-content;
  left: 3rem;
}
.dropdown-list {
  line-height: 2rem;
  font-size: 1.2rem;
  margin: 0.2rem 0 0.5rem 0;
}
.passenger-list {
  display: inline-flex;
  justify-content: space-between;
}
.passenger-list div:first-child {
  display: grid;
  font-weight: 700;
}
.passenger-list div:first-child > span {
  font-weight: 300;
  font-size: 1rem;
}
.travel-class > ul > li,
.passenger-list div:nth-child(2) > span:nth-child(2) {
  font-weight: 700;
}
.span-pill {
  display: inline-block;
  border-radius: 0.5rem;
  border: 0.1rem solid var(--mainGrey);
  width: 25px;
  height: 25px;
  font-size: 2rem;
  cursor: pointer;
  margin: 0.8rem;
}
@media only screen and (min-width: 768px) {
  .form-container {
    width: 85%;
  }
  .form-list,
  .form-container {
    flex-direction: unset;
  }
  .form-container > li > div > input,
  .passengers {
    min-width: 20rem;
  }
  .form-list > div {
    margin: 0 0.5rem;
  }
  .travel-class {
    position: inherit;
    width: 100%;
    left: 0;
  }
}

/* REACT DATE PICKER******************************** */
.react-datepicker-wrapper > div > input {
  border: none;
  background: none;
  height: 100%;
  margin: 0 auto;
  text-align-last: center;
}
.react-datepicker__input-container {
  height: 100%;
}

.react-datepicker-wrapper,
.react-datepicker__input-container,
.react-datepicker__input-container input {
  width: 100%;
}

.react-datepicker {
  font-size: 1em;
}
.react-datepicker__header {
  padding-top: 0.8em;
}
.react-datepicker__month {
  margin: 0.4em 1em;
}
.react-datepicker__day-name,
.react-datepicker__day {
  width: 1.9em;
  line-height: 1.9em;
  margin: 0.166em;
}
.react-datepicker__current-month {
  font-size: 1em;
}
.react-datepicker__navigation {
  top: 1em;
  line-height: 1.7em;
  border: 0.45em solid transparent;
}
.react-datepicker__navigation--previous {
  border-right-color: #ccc;
  left: 1em;
}
.react-datepicker__navigation--next {
  border-left-color: #ccc;
  right: 1em;
}

/*END REACT DATE PICKER*********************************
*
*
*
/* ************************************************END Forms */

/* ***********************************************Banner */
.home-banner,
.defaultBanner {
  background: url("./images/banner.jpg");
  padding: 2rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.banner-row {
  height: 90vh;
}
/* *****************************************************END Banner */
